.search_btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.175rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 0.2rem 0.25rem 0 0.25rem;
}

.search_btn {
  cursor: pointer;
}

.search_btn:hover {
  background-color: rgba(1, 1, 1, 0.3) !important;
  border: solid 1px rgba(1, 1, 1, 0.3) transparent !important;
  color: white;
}

.disabled {
  display: none;
}

.blue_btn {
  border: solid 1px #007bff transparent;
  background-color: #007bff;
  color: white;
}

.blue {
  border: solid 2px #007bff;
}

.red {
  border: solid 2px #dc3545;
}

.yellow {
  border: solid 2px #ffc107;
}

.green {
  border: solid 2px #28a745;
}

.gray {
  border: solid 2px #6c757d;
}
